<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link" routerLink="" >
    <i class="fas fa-flag-usa"></i>
    <span class="brand-text font-weight-light ml-2">Países</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li
          class="nav-item"
          routerLinkActive="active"
          >
          <a
            href="#" class="nav-link"
            routerLink="countries/by-capital"
            routerLinkActive="active"
            (isActiveChange)="this.onRouterLinkActive($event, 'Buscar por Capital')"
           >
            <i class="far fa-circle nav-icon"></i>
            <p>
              Por capital
            </p>
          </a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active">
          <a
            href="#" class="nav-link"
            routerLink="countries/by-country"
            routerLinkActive="active"
            (isActiveChange)="this.onRouterLinkActive($event, 'Buscar por País')"
          >
            <i class="far fa-circle nav-icon"></i>
            <p>
              Por país
            </p>
          </a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active">
          <a
            href="#" class="nav-link"
            routerLink="countries/by-region"
            routerLinkActive="active"
            (isActiveChange)="this.onRouterLinkActive($event, 'Buscar por Región')"
          >
            <i class="far fa-circle nav-icon"></i>
            <p>
              Por región
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
