<div class="wrapper">

  <!-- Navbar -->
  <shared-navbar></shared-navbar>

  <!-- Main Sidebar Container -->
  <shared-sidebar (pageTitle)="recibirPageTitle($any($event))"></shared-sidebar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <shared-page-header [pageTitle]="myPageTitle" ></shared-page-header>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">

        <router-outlet></router-outlet>

      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <shared-footer></shared-footer>

</div>
