<!-- (keyup.enter)="emitValue( txtInput.value )" -->
<div class="input-group input-group-lg">
  <input
    type="search" class="form-control form-control-lg"
    [placeholder]="placeholder"
    [value]="initialValue"
    (keyup)="onKeyPress( txtInput.value )"
    (keyup.enter)="emitValue( txtInput.value )"
    #txtInput>
    <div class="input-group-append">
      <button type="button" class="btn btn-lg btn-default" title="Buscar"
        (click)="emitValue( txtInput.value )">
        <i class="fa fa-search"></i>
      </button>
    </div>
</div>
