<div *ngIf="countries.length === 0; else table" class="alert alert-warning">
  <h5><i class="icon fas fa-exclamation-triangle"></i> Atención!</h5>
  No hay países que mostrar.
</div>

<ng-template #table>
  <table class="table">
    <thead>
      <tr>
        <th class="text-center" style="width: 40px;">#</th>
        <th class="text-center" style="width: 100px;">Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th style="width: 100px;">Población</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries; let i = index">
        <td class="text-right" >{{ i + 1 }}</td>
        <td class="text-center"><img [src]="country.flags.svg" [alt]="country.name.common" height="30"></td>
        <td>{{ country.name.common }}</td>
        <td>{{ country.capital }}</td>
        <td class="text-right" >{{ country.population | number }}</td>
        <td> <a [routerLink]="[ '/countries/by', country.cca3]">Ver detalle</a> </td>
      </tr>
    </tbody>
  </table>
</ng-template>
